header {
    background-color: white;
}

.title{
    font-family: 'Pacifico', cursive;
    padding-left: 2.5%;
    margin:0;
    font-size: 1.5em;
}

body {
    height:auto !important;
    background-color: lightblue;
}
