header {
    background-color: white;
}

main{
    overflow-y:auto;
}

.title{
    font-family: 'Pacifico', cursive;
    padding-left: 2.5%;
    margin:0;
    font-size: 1.5em;
}

body {
    background-color: lightblue;
}

#profile-name {
    font-size: 2em;
}

md-grid-tile h2 {
}

#target-heading {
    border: 1px solid black;
    border-bottom: 1px solid #f7f9fc;
    background-color: #f7f9fc;
}

#target-name {
    border: 1px solid black;
    border-top: 1px solid #f7f9fc;
    background-color: #f7f9fc;
}

.lead {
     border: 1px solid black;
     border-radius: 15px;
     width: 70%;
}

.lead-place {
    border: 1px solid white;
    border-right-color: black;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #f7f9fc;
    font-weight: bold;
    height: 100%;
}

.lead-name {
    border: 1px solid white;
    border-right-color: black;
    height: 100%;
}

.lead-kills {
    height: 100%;
}

footer {
    background-color: white;
    text-align: center;
    width:100%;
}

footer a{
    color:black;
}
